<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'> 
		<title>LASS - {{title}}</title>
		{% if description -%}
		<meta name='description' content='{{description}}'>
		{% endif -%}
		{% for name in authors -%} 
		<meta name='author' content='{{name}}'>
		{% endfor -%}
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='shortcut icon' href='/favicon.ico'>
		<link rel='stylesheet' type='text/css' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css' />
		<link rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css'>
		<link rel='stylesheet' type='text/css' href='/css/main.css'>
		{%- block CSS %}{% endblock -%}
	</head>
	<body>
		{%- block CONTENT %}{% endblock %}
		<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.0.min.js'></script>
		<script type='text/javascript' src='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js'></script>
		{%- block SCRIPTS %}{% endblock -%}
	</body>
</html>
