<div class = "navbar navbar-inverse navbar-fixed-bottom">
	
	<div class = "container">
		<p class = "navbar-text pull-left">Site Built By TurboCats</p>
		<a href = "https://github.com/ThatGeoGuy/ENGO500-Webserver" class = "navbar-btn btn-primary btn pull-right">GitHub</a>
	</div>
	
</div>
<!-- The other option that doesn't work properly yet...
<div class = "navbar navbar-inverse navbar-static-top">
	
	<div class = "container">
		<p class = "navbar-text pull-left">Site Built By TurboCats</p>
		<a href = "https://github.com/ThatGeoGuy/ENGO500-Webserver" class = "navbar-btn btn-primary btn pull-right">GitHub</a>
	</div>
	
</div>
-->