{% extends "base.html" %}
{% block CSS %}
{% endblock %}

{% block CONTENT %}

<div class = "navbar navbar-inverse navbar-static-top">
	<div class = "container">
		
		<a href="#" class = "navbar-brand">LASS</a>
		
		<!-- This makes the menu mobile friendly -->
		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>
		
		<div class = "collapse navbar-collapse navHeaderCollapse">
		
			<ul class = "nav navbar-nav navbar-right">
				
				<li class = "active"><a href = "#">Home</a></li>
				<li><a href = "/layout">Create layout</a></li>
				<li><a href = "/viewstore">View store</a></li>
				<li class = "dropdown">
					
					<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Get help <b class = "caret"></b></a>
					<ul class = "dropdown-menu">
						<li><a href = "#">FAQ</a></li>
						<li><a href = "#contact" data-toggle="modal">Contact us</a></li>
						
					</ul>
					
				</li>
			</ul>
		
		</div>
		
	</div>
	
</div>

<div class="container">
	
	<div class = "jumbotron text-center">
		<h1>Welcome!</h1>
		<p>In this little description I would probably tell you briefly what our product is and does</p>
		<a class = "btn btn-default">See how it works</a>
	</div>
	
</div>

<div class = "navbar navbar-inverse navbar-fixed-bottom">
	
	<div class = "container">
		<p class = "navbar-text pull-left">Site Built By TurboCats</p>
		<a href = "https://github.com/ThatGeoGuy/ENGO500-Webserver" class = "navbar-btn btn-primary btn pull-right">GitHub</a>
	</div>
	
</div>

<div class = "modal fade" id = "contact" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1> Contact us</h1>
			</div>
			<div class = "modal-body">
				<p>You can contact us ... actually I don't know how you would contact us. Sorry.</p>
				
			</div>
			<div class="modal-footer">
				<a class="btn btn-primary" data-dismiss = "modal"> Close </a>
			</div>
			
		</div>
	</div>
</div>

{% endblock %}

{% block SCRIPTS %}
{% endblock %}
