{% extends "base.html" %}
{% block CSS %}
<link rel='stylesheet' href='/css/storeLayout.css'>
<link rel='stylesheet' href='http://code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.css'>
{% endblock %}

{% block CONTENT %}
{% include "navigationBar.html" %}


<div id='wrapper' class='container'> 
	<div id='content'>

			<div id='container'>
				<div id='mainLeft'>
					<div id='control'>
						<h3>Create your layout</h3>
					</div>
					<div id='parentAccordion'></div>
					<button type='button' id='addShelf' class='btn btn-primary btn-xs'>
						<span class="glyphicon glyphicon-plus-sign"></span> Shelf
					</button>
					<button type='button' id='addSection' class='btn btn-primary btn-xs'>
						<span class="glyphicon glyphicon-plus-sign"></span> Section
					</button>
					<button type='button' id='deleteButton' class='btn btn-warning btn-xs'>
						<span class="glyphicon glyphicon-remove-sign"></span>
					</button>
				</div>

				<div id='mainRight'>
					<div id='view'>
						<h3>Visualize your layout</h3>
						<div id='d3'></div>
						<button type='button' id='saveButton' class='btn btn-success btn-xs'>Save</button>
						<button type='button' id='deleteAll' class='btn btn-danger btn-xs'>Delete all</button>
					</div>
				</div>

				<div class='accordion'> <!--rename to accordionTemplate -->
					<h3 class='accordion-title'></h3>
					<div class='accordion-content'></div>
				</div>
			</div> <!-- endMain -->
		</div> <!-- endContainer -->
	</div> <!-- endContent -->
</div> <!-- endWrapper -->
{% include "footer.html" %}
{% endblock %}

{% block SCRIPTS %}
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js'></script>
<script type='text/javascript' src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js'></script>
<script type='text/javascript' src='http://www.appelsiini.net/download/jquery.jeditable.mini.js'></script>
<script type='text/javascript' src='/js/storeLayout.js'></script>
{% endblock %}
