{% extends "base.html" %}
{% block CSS %}
<link rel='stylesheet' href='/css/storeLayout.css'>
<link rel='stylesheet' href='http://code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.css'>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block CONTENT %}
{% include "navigationBar.html" %}

<div class='container'>
<div class="well">
	<div class='row'>
		<div class='col-md-4'>
			<div class="panel panel-default">
	  			<div class="panel-body">
	  				<div id='control'>
						<h3>Create your layout</h3>
					</div>
					<div id='parentAccordion'></div>
					<button type='button' id='addShelf' class='btn btn-primary btn-xs'>
						<span class="glyphicon glyphicon-plus-sign"></span> Shelf
					</button>
					<button type='button' id='addSection' class='btn btn-primary btn-xs'>
						<span class="glyphicon glyphicon-plus-sign"></span> Section
					</button>
					<button type='button' id='deleteButton' class='btn btn-warning btn-xs'>
						<span class="glyphicon glyphicon-remove-sign"></span>
					</button>
				</div>
			</div>
		</div>
		<div class='col-md-8'>
			<div class="panel panel-default">
	  			<div class="panel-body">
					<h3>Visualize your layout</h3>
						<div id='d3'></div>
						<button type='button' id='saveButton' class='btn btn-success btn-xs'>Save</button>
						<button type='button' id='deleteAll' class='btn btn-danger btn-xs'>Delete all</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Template for accordions -->
<div class='accordion'>
	<h3 class='accordion-title'></h3>
	<div class='accordion-content'></div>
</div>

{% include "footer.html" %}
{% endblock %}

{% block SCRIPTS %}
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js'></script>
<script type='text/javascript' src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js'></script>
<script type='text/javascript' src='/js/storeLayout.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock %}
