<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>ENGO 500 - GIS & LT 2 Progress Report</title>
		<link rel='stylesheet' type='text/css' href='/css/stack-presentation.css'>
	</head>
	<body>
		<section>
			<h1 class='title'>ENGO 500: GIS & LT 2</h1>
			<p class='subtitle'><strong>Progress Report - 2014/02/14</strong></p>
			<ul class='authors'>
				<li>Alexandra Cummins</li>
				<li>Ben Trodd</li>
				<li>Harshini Nanduri</li>
				<li>Jeremy Steward</li>
				<li>Kathleen Ang</li>
			</ul>
		</section>
		
		<section> 
			<h1>Project Objective</h1>
			<hr>
			<ul>
				<li>Creating a "smart shelf"</li>
				<ul>
					<li>Concept of the "Internet of Things" (IoT)</li>
					<li>Compatible with OGC IoT SensorThings API</li>
					<li>Open source</li>
				</ul>
				<li>Location Aware Shelf System (LASS)</li>
				<ul>
					<li>Tracks customer movement</li>
					<li>Notifies personnel of empty shelves</li>
			</ul>
		</section>

		<section>
			<h1>Recall</h1>
			<hr>
			<div class='centered'>
				<img src='/img/use-case-prototype.png' width=75% height=35%/>
				<img src='/img/use-case-website.png' width=80% height=55%/>
			</div>
		</section>
		
		<section style='background: url(/img/raspi.jpg) center no-repeat;'> 
			<h1 class='title white'>Shelf Prototype</h1>
		</section>
		
		<section>
			<h1>Current sensor setup</h1>
			<hr>
			<div class='centered'>
				<img src='/img/prototype.jpg' height=90% />
			</div>
		</section>
		
		<section> 
			<h1>Progress so far</h1>
			<hr>
			<ul>
				<li>Python code for data collection</li>
				<ul>
					<li>Using GPIO pin libraries, reads voltages from PIR </li>
				</ul>
				<br>
				<li>Python code for sensor simulation</li>
				<ul>
					<li>Facilitated testing of connection with data service</li>
				</ul>
			</ul>
		</section>
		
		<section>
			<h1>OGC IoT Data Model</h1>
			<hr>
			<div class='centered'>
				<img src='/img/DataModel.png' height=90% />
			</div>
		</section>
	
		<section>
			<h1>Our Data Model</h1>
			<hr>
			<div class='centered'>
				<img src='/img/DataModel_specialized.png' height=90% />
			</div>
		</section>

		<section style='background: url(/img/babyDuck.jpg) center no-repeat;'>
			<h1 class='title white'>Website Development</h1>
		</section>

		<section>
			<h1>Web Server</h1>
			<hr>
			<ul>
				<li>Implemented a web server using Node.js and the Express.js framework</li>
				<li>Currently supports templates, static files, and can receive content from page forms / input fields</li>
				<li>This presentation is running live in real-time on the server!</li>
			</ul>
		</section>

		<section>
			<h1 class='title'>Demo - Layout Creator</h1>
		</section>

		<section>
			<iframe src='/layout'></iframe>
		</section>

		<section>
			<h1 class='title'>Demo - Data Relay</h1>
		</section>

		<section>
			<div id='force-graph' class='left-col'></div>
			<div id='node-info' class='right-col'>
				<h3>Data Relay Demo</h3>
				<p class='tiny'>Please click the nodes on the graph to the right to see information directly from the server!</p>
			</div>
		</section>

		<section>
			<h1 class='title'>Risks and Timeline</h1>
		</section>

		<section> 
			<div class='centered'>
				<img src='/img/gantt_lines.png' height=125% />
			</div>
		</section>

		<section>
			<table>
				<tr>
					<th>Risk</th>
					<th>Impact</th>
				</tr>
				<tr>
					<td>Sensors shipping late</td>
					<td>Medium Impact, we already have one sensor working, we just need to extend what we have.</td>
				</tr>
				<tr>
					<td>Sensors too sensitive / not working as expected</td>
					<td>Potentially Large Impact, time will need to be invested in calibrating them properly.</td>
				</tr>
				<tr>
					<td>Robustness of sensor connectivity.</td>
					<td>Low Impact, expected use case is sensors on ethernet or private network, should be client's responsibility to some extent.</td>
				</tr>
				<tr>
					<td>User system not (fully) implemented</td>
					<td>Low to Medium Impact, single user system is viable to demo functionality.</td>
				</tr>
				<tr>
					<td>Usability testing of website not completed</td>
					<td>Low Impact (testing of code occurs during development).</td>
				</tr>
				<tr> 
					<td>Downloading large amounts of data from server.</td>
					<td>Medium to High Impact. We have yet to be able to download and handle large requests to the server since it refreshes so often. We may find that there are issues with accessing and handling large volumes of data in real time.</td>
				</tr>
			</table>
		</section>

		<section style='background-color: #aa6300;'>
			<h1 class='title white'>Questions?</h1>
		</section>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='/js/stackjs/stack.v0.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='/js/collapseForceLayout.js' charset='utf-8'></script>
	</body>
</html>
