<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>ENGO 500 - GIS & LT 2 Progress Report</title>
		<link rel='stylesheet' type='text/css' href='/css/stack-presentation.css'>
	</head>
	<body>
		<section>
			<h1 class='title'>ENGO 500: GIS & LT 2</h1>
			<p class='subtitle'><strong>Progress Report - 2014/02/14</strong></p>
			<ul class='authors'>
				<li>Alexandra Cummins</li>
				<li>Ben Trodd</li>
				<li>Harshini Nanduri</li>
				<li>Jeremy Steward</li>
				<li>Kathleen Ang</li>
			</ul>
		</section>
		
		<section> 
			<h1>Internet of Things</h1>
			<hr>
			<ul>
				<li>We sought out to create a "smart shelf" using the Internet of Things</li>
				<li>The purpose of the shelf system is to be capable of identifying whether somebody is standing in front of a shelf and if the shelf area is stocked.</li>
				<li>Thus our project can be broken down into two broader categories: developing our shelf system prototype and creating our website to interface with the sensors.</li>
			</ul>
		</section>

		<section>
			<h1>Recall</h1>
			<hr>
			<div class='left-col'>
				<ul>
					<li>The Internet of Things (IoT) is a system where we can interact with sensors and everyday objects remotely.</li>
					<li>We are developing our system to be compatible with the OGC IoT SensorThings API.</li>
				</ul>
			</div>
			<div class='right-col'>
				<img src='/img/use-case-prototype.png' width=100% />
				<img src='/img/use-case-website.png' width=100% />
			</div>
		</section>
		
		<section style='background: url(/img/raspi.jpg) center no-repeat;'> 
			<h1 class='title white'>Shelf Prototype</h1>
		</section>
		
		<section>
			<h1>Prototype</h1>
			<hr>
			<div class='centered'>
				<img src='/img/prototype.jpg' style='max-width:75%; max-height:100%'/>
			</div>
		</section>

		<section style='background: url(/img/babyDuck.jpg) center no-repeat;'>
			<h1 class='title white'>Website Development</h1>
		</section>

		<section>
			<h1>Web Server</h1>
			<hr>
			<ul>
				<li>Implemented a web server using Node.js and the Express.js framework</li>
				<li>Currently supports templates, static files, and can receive content from page forms / input fields</li>
				<li>This presentation is running live in real-time on the server!</li>
			</ul>
		</section>

		<section>
			<h1 class='title'>Demo - Layout Creator</h1>
		</section>

		<section>
			<iframe src='/layout'></iframe>
		</section>

		<section>
			<h1 class='title'>Demo - Data Relay</h1>
		</section>

		<section>
			<div id='force-graph' class='left-col'></div>
			<div id='node-info' class='right-col'>
				<h3>Data Relay Demo</h3>
				<p class='tiny'>Please click the nodes on the graph to the right to see information directly from the server!</p>
			</div>
		</section>

		<section>
			<h1 class='title'>Risks and Timeline</h1>
		</section>

		<section> 
			<div class='centered'>
				<img src='/img/gantt_lines.png' height=125% />
			</div>
		</section>

		<section>
			<table>
				<tr>
					<th>Risk</th>
					<th>Impact</th>
				</tr>
				<tr>
					<td>Sensors shipping late</td>
					<td>Low Impact, we already have one sensor working.</td>
				</tr>
				<tr>
					<td>User system not (fully) implemented</td>
					<td>Low Impact, single user system is viable to demo functionality.</td>
				</tr>
				<tr>
					<td>Usability testing of website not completed</td>
					<td>Low Impact (testing of code occurs during development).</td>
				</tr>
				<tr> 
					<td></td>
					<td></td>
				</tr>
			</table>
		</section>

		<section style='background-color: #aa6300;'>
			<h1 class='title white'>Questions?</h1>
		</section>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='/js/stackjs/stack.v0.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='/js/collapseForceLayout.js' charset='utf-8'></script>
	</body>
</html>
