<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>ENGO 500 - GIS & LT 2 Progress Report</title>
		<link rel='stylesheet' type='text/css' href='/css/stack-presentation.css'>
	</head>
	<body>
		<section>
			<h1 class='title'>ENGO 500: GIS & LT 2</h1>
			<p class='subtitle'><strong>Progress Report - 2014/02/14</strong></p>
			<ul class='authors'>
				<li>Alexandra Cummins</li>
				<li>Ben Trodd</li>
				<li>Harshini Nanduri</li>
				<li>Jeremy Steward</li>
				<li>Kathleen Ang</li>
			</ul>
		</section>
		
		<section> 
			<h1>Recall:</h1>
			<hr>
			<ul>
				<li>Project is based on internet of things</li>
				<li>We are creating a smart shelf system</li>
				<li>There are two major components: Shelf Prototype and Website</li>
			</ul>
		</section>

		<section>
			<h1>Next topic of presentation</h1>
			<hr>
			<div class='left-col'>
				<ul>
					<li>this is a paragraph with lots of words and spaces and stuff to describe a really cool thing</li>
					<li>Item 2</li>
					<li>Item 3</li>
				</ul>
			</div>
			<div class='right-col'>
				<img src='/img/babyDuck.jpg' width=100% />
			</div>
		</section>
		
		<section style='background: url(/img/raspi.jpg) center no-repeat;'> 
			<h1 class='title white'>Shelf Prototype</h1>
		</section>

		<section style='background-color: #aa6300;'>
			<h1 class='title white'>Questions?</h1>
		</section>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='/js/stackjs/stack.v0.min.js' charset='utf-8'></script>
	</body>
</html>
