<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Store Layout</title>
		<!-- Scripts -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script type='text/javascript' src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js'></script>
		<!-- Styles -->
		<link rel="stylesheet" href="/css/storeLayout.css">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.css">
	</head>
	<body>
		<div id="wrapper"> 
			<div id="content">
				<h1 class="heading">Store Layout</h1>
				<p>Here you can set up the layout of your store.</p>
				<div id="container">
					<div id="main">
						<div id="control">
							<h2>Create your layout</h2>
							<script type="text/javascript" src="/js/storeLayout.js"></script>
							<div class="accordion">
								<!-- Example Entry -->
								<h3>Shelf 1</h3>
								<div class="child-accordion">
									<h3>Shelf attr</h3>
									<div>stuff
									  <img class="editPencil" src="/img/icons/pen.png" onclick=editShelf()></img>
									</div>
								<h3>Section 1</h3>
								<div>more stuff</div>
								</div>
								<!-- End Example -->
							</div>
							<div id="addShelf" class="button">+ Shelf</div>
							<div id="addSection" class="button">+ Section</div>  
						</div> <!-- endControl -->
						<div id="view">
							<h2>Visualize your layout</h2>
							<div id="d3"></div>
						</div>
					</div> <!-- endMain -->
				</div> <!-- endContainer -->
			</div> <!-- endContent -->
		</div> <!-- endWrapper -->
	</body>
</html>
