{% extends "base.html" %}
{% block CSS %}
<link rel='stylesheet' href='http://code.jquery.com/ui/1.10.4/themes/redmond/jquery-ui.css'>
<link rel='stylesheet' href='/css/viewStore.css'>
{% endblock %}

{% block CONTENT %}

{% include "navigationBar.html" %}

<div class='container'>
<div class="well">
	<div class='row'>
		<div class='col-md-4'>
			<div class="panel panel-default">
	  			<div class="panel-body">
					<h3>Store Traffic</h3>
					<div id='traffic' class='aBarchar'></div>
					<div class='row'>
						<div class='col-md-12'>
							<h3>Stock Levels</h3>
							<div id='stock'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='col-md-8'>
			<div class="panel panel-default">
	  			<div class="panel-body">
					<h3>My Store</h3>
					<div id='store'></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% include "footer.html" %}

{% endblock %}

{% block SCRIPTS %}
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js'></script>
<script type='text/javascript' src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js'></script>
<script type='text/javascript' src='/js/viewStore.js'></script>
{% endblock %}
