body {
  background: #929292;
  font-family: "Century Gothic";
  margin: auto;
  width: 1280px;
}

a {
  color: #6baed6;
}

a:not(:hover) {
  text-decoration: none;
}

h1 { 
	font-family: Arial; 
	color: #e59400; 
	margin-bottom: 0;
}
h2 { 
	font-family: Arial; 
	color: #cc8400; 
}
h3 { 
	font-family: Arial; 
	color: #996300;
}
h4 { 
	font-family: Arial; 
}
h5 { 
	font-family: Arial; 
}
h6 { 
	font-family: Arial; 
}
hr { 
	background-color: #e59400; 
	height: 5px; 
	border: none;
}

ol { 
	margin-left: 1.0em;
}

ul { 
	margin-top: 0;
}

ul.authors { 
	font-size: 24px;
	margin-top: auto;
	text-align: right;
	float: right;
} 

ul.authors li { 
	list-style-type: none;
}

li {
	margin-top: 5px;
}

table {
	font-size: 24px;
	border: solid 1px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

th { 
	font-size: 26px;
	font-family: Arial;
	border: solid 1px;
}

td { 
	border: solid 1px;
}

iframe { 
	width: 112%; 
	height: 120%; 
	margin-left: -70px; 
	padding-left: 0; 
	overflow-y: hidden;
}

.left-col { 
	float: left; 
	width: 50%;
}
.right-col { 
	float: right; 
	width: 50%;
}

.stack {
  background: #eeeeee;
  color: #434343;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none;
  font-size: 48px;
  height: 800px;
  padding: 160px 80px;
  padding-top: 30px;
  width: 1280px;
  -webkit-transform: translate3d(0,0,0);
}

.active {
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
  display: block;
  position: fixed;
}

.white {
  color: #dedede;
}

.big { 
	font-size: 128px; 
}

.tiny { 
	font-size: 28px;
}

.title { 
	padding: 160px 80px;
	font-size: 90px;
	text-align: center; 
	text-shadow: 0px 2px 6px rgba(0,0,0,.5);
}
.subtitle { 
	font-family: Arial; 
	float: left;
	text-shadow: 0px 2px 6px rgba(0,0,0,.5);
}

.centered {
	text-align: center; 
	padding: 0px;
	width: 100%;
	height: 100%;
}

@media
screen and (max-device-width: 1024px) {
  body {
    width: 1200px;
  }

  .stack {
    margin: 40px 0;
  }

  .stack {
    display: block;
  }
}

.node {
  cursor: pointer;
  stroke: #000000;
  stroke-width: 1px;
}

.link {
  fill: none;
  stroke: #000000;
  stroke-width: 1.5px;
}

