.attributeUl {
	font-weight: bold;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.input {
	font-family: courier;
	font-weight: normal;
}
#mainLeft {
	width: 30%;
	float: left;
}
#mainRight {
	width: 68%;
	float: right;
}
.button {
	display: inline-block;
	height: 15px;
	background-color: #2e6e9e;
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	margin: 2px 2px 2px 2px;
	cursor: pointer;
}
#addShelf {
	float: right;
	width: 60px;
}
#addSection {
	float: right;
	width: 75px;
}
#deleteButton {
	float: left;
	width: 20;
}
#saveButton {
	float: right;
}

* {margin:0; padding:0} 
html {height: 100%}
body {
	min-width: 480px;
	width: 100%;
	height: 101%;
	background: #fff;
	color: #333;
	/*font: 76%/1.6 verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;*/
	text-align: center
}
#wrapper {
	margin-bottom: 30px;
	padding: 10px 2.5%;
	border-top: 0.1em solid #ccc;
	background: #fff;
	text-align: left;
	overflow: hidden
}

#container {
	float: left;
	width: 100%;
	padding: 0 0 1em;
	position: relative;
	min-height: 0
}
#main {
	position: relative; 
	min-height: 0
}
p {margin: 0 10px 1em}
.strong{font-weight: 700}
.clear {clear: both}
img {border: 0 none}
/* --- Headings --- */
/*
h1 {font-family: georgia,'times new roman',times,serif; font-size: 2.5em; font-weight: normal; color: #f60}

h1, h2, h3 {margin-bottom: 1em}

h2, h3, h4 a, h5 a {padding: 3px 10px}

h2, h3, h4, h5 {font-size: 1em}
*/
#mainLeft h3, #mainRight h3 {background-color: #f0f0f0}