.attributeUl {
	font-weight: bold;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.input {
	font-weight: normal;
}
#addShelf {
	float: right;
	width: 60px;
}
#addSection {
	float: right;
	width: 75px;
}
#deleteButton {
	float: left;
	width: 20;
}
#saveButton {
	float: right;
}
#deleteAll {
	float: right;
}