#traffic {
	width: 300px;
	height: 200px;
}

#stock {
	width: 300px;
	height: 300px;
}

#store {
	width: 800px;
	height: 510px;
}

div.tooltip {   
  position: absolute;
  text-align: center;
  width: auto; 
  height: auto;
  padding: 8px;
  font: 14px sans-serif;
  color: white;
  background: #555555;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#slider {
  margin-top: -30px;
  width: 200px;
  float: right;
}

#amount {
  margin-top: -34px;
  margin-right: 210px;
  width: 120px;
  float: right;
}